body{
    font: 15px 1.5 Arial,Helvetica,sans-sarif;
    padding: 0;
    margin:0;
    background:#f4f4f4;
}


.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}


header{
    background-color: #35424a;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 3px solid orangered; 
}
header a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}
header ul{
    margin: 0;
    padding: 0;
}
header #branding{
    float: left;
}
header #branding h1{
    margin: 0;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px;
}
header nav{
    float: right;
}